@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "NewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var NewOrEdit = ViewBag.New == "Edit" ? "Edit" : "New";}
<h2>@NewOrEdit Movie</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.GenreId)
        @Html.DropDownListFor(c => c.GenreId, new SelectList(Model.genres, "Id", "Name"), "Select Movie Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}

